In [1]:
# is used to comment the line

In [2]:
#understanding the variables in python

In [ ]:
# Below is the example

In [19]:
x = 5   # x is holding value of 5
y = 3  # y is holding value of 3
x+y

8

In [ ]:
# variables are those who will be holding the values assigned to it
# Rules for declaring the variables in python
# 3 important rules to be followed

# Rule No 1:

# No namespaces while declaring the variable name
# Below are the examples

In [16]:
first name ='xxx' # wrong way
print(first name)

SyntaxError: invalid syntax (<ipython-input-16-87deed4884b0>, line 1)

In [14]:
first_name ='Raja' # Correct way
print (first_name)

Raja

In [15]:
firstname ='Hema' # Correct way
print(firstname)

Hema

In [ ]:
# Rule No 2
# You should not start a variable name with a number
# Below is the example

In [20]:
1name='ashok' #wrong way
print(1name)

SyntaxError: invalid syntax (<ipython-input-20-2856bd6e216f>, line 1)

In [21]:
name1='ashok' #correct way
print(name1)

ashok

In [ ]:
# Rule No 3:
# You should not use any special characters in variable name
# special char : @,#,$ etc
# Below is are the example

In [22]:
@name='kiran'  # worng way
print(@name)

SyntaxError: invalid syntax (<ipython-input-22-5cae73c8be62>, line 1)

In [23]:
name='kiran' # correct way
print(name)

kiran

In [ ]:
# Introduction to data types in python
# There are 5 major data types
# 1. String
# 2. Interger
# 3. List
# 4. Tuple
# 5. Dictionary

# Classification of data types:
# Data types are classified into 2 different categories
# 1. Mutable data types
# 2. Immutable data types 

# Mutable data types: Definition
# We can able to modify,alter or change the data once it gets assigned.

# Immutable data types: Definition : ( Fixed data types)
# We can not able to modify,alter or change the data once it gets assigned.

#python is a case sensitive language

In [24]:
# Introduction to String data types -> (str)
# 1. String is nothing but a series of characters enclosed in an quotes.
# 2. String is classified as immutable data types
# 3. How to define a string : There are 3 ways
    # i)  Single quotes --> ''
    # ii) Double quotes --> ""
    # iii) Triple quotes --> """"""

# Below are the examples

In [28]:
name1 ='Rahul'
print(name1)

Rahul

In [29]:
name2 ="Rahul"
print(name2)

Rahul

In [30]:
name3 = """Rahul"""
print(name3)

Rahul

In [31]:
# Built-in method of a strinf 
# Below are the examples
type(name1)   # To verify and validate the data type

str

In [32]:
type(name2)

str

In [33]:
type(name3)

str

In [35]:
full_name='***** shailendra kumar *****'
print(full_name)

***** shailendra kumar *****

In [37]:
# code enhancement
# Title Case
print(full_name.title())

***** Shailendra Kumar *****

In [38]:
# Request to convert all the letter in Capital
full_name='***** shailendra kumar *****'
print(full_name.upper())   # Upper Case

***** SHAILENDRA KUMAR *****

In [39]:
# Request to convert all the letter in lowerCase
full_name='***** shailendra kumar *****'
print(full_name.lower())   # Lower Case

***** shailendra kumar *****